/*
*
*   created by qiusd on 2016-02-26
*   cooperation xxx
*   
*/



/*******************************
*
*   下面是中间Div的css：middleDiv
*
/*******************************/
.middleDiv {    
    width: 1200px;
    height: 800px;
/*    background-image: url(../img/bg6.jpg);
    background-size: 100% 100%;*/
    background-color: rgb(224,224,224);
    margin: 0 auto;
}

#explainDiv { 
    position: absolute;
    float: left;
    /*border: 1px solid rgb(51,122,183);*/
    width: 1200px;
    height: 30px;
    margin-top: 80px; 
    margin-left: 10px;
    padding-right: 5px;
    font-size: 20px;
    color: rgb(51,122,183);
}

.abbsBG {
    padding-bottom: 5px;
    border-bottom:1px solid rgb(51,122,183);
}


#bodyDiv {    
    /*position: absolute;*/
    float: left;
    border: 1px solid rgb(51,122,183);
    width: 250px;
    height: 210px;
    margin-top: 130px; 
    margin-left: 10px;
    padding-right: 5px;
    font-size: 16px;
    color: rgb(51,122,183);
}

#bodyDivtitle {    
    /*border: 1px solid rgb(51,122,183); */
    width: 50px;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 8px;    
}

#bodyprogress {
    float: right;
    width: 140px;  
    margin-top: -25px;
    margin-left: 20px;
    margin-right: 5px;
    /*border: 1px solid rgb(51,122,183);    */

}


#bodyabbsdiv {
    /*border: 1px solid rgb(51,122,183);   */
    margin-top: 15px;     
}

.bodydesc {
    /*border: 1px solid rgb(51,122,183);   */
    margin-left: 10px;  
    margin-top: 15px; 
}

#myabbs1 {  
    float: right;
    width: 140px; /*slider长度*/  
    margin-right: 5px;
    /*border: 1px solid rgb(51,122,183); */
}
#myabbs2 {  
    float: right;
    width: 140px; /*slider长度*/  
    margin-right: 5px;
    /*border: 1px solid rgb(51,122,183); */
}
#myabbs3 {  
    float: right;
    width: 140px; /*slider长度*/  
    margin-right: 5px;
    /*border: 1px solid rgb(51,122,183); */
}
#myabbs4 {  
    float: right;
    width: 140px; /*slider长度*/  
    margin-right: 5px;
    /*border: 1px solid rgb(51,122,183); */
}




/*******************/
/*下面是slider的css*/
/*******************/
#myabbs1 .slider-selection {
    background: rgb(12,142,207);
}
#myabbs1 .slider-handle {
    background: rgb(12,142,207);
}
#myabbs2 .slider-selection {
    background: rgb(12,142,207);
}
#myabbs2 .slider-handle {
    background: rgb(12,142,207);
}
#myabbs3 .slider-selection {
    background: rgb(12,142,207);
}
#myabbs3 .slider-handle {
    background: rgb(12,142,207);
}
#myabbs4 .slider-selection {
    background: rgb(12,142,207);
}
#myabbs4 .slider-handle {
    background: rgb(12,142,207);
}



