#GC .slider-selection {
    background: rgb(12,142,207);
}
#GC .slider-handle {
    background: rgb(12,142,207);
}

#R, #G, #B, #S {
    width: 300px;
}

#SC .slider-selection {
    background: #428041; 
    /*rgb(12,142,207);*/
}

